<!DOCTYPE html>
<html>

<head>
    <title>Sentiment Analysis</title>
    <style>
        body {
            font-family: Arial;
            text-align: center;
            margin-top: 100px;
        }

        textarea {
            width: 400px;
            height: 100px;
        }
    </style>
</head>

<body>
    <h1>Sentiment Analyzer 😎</h1>
    <form action="/predict_form" method="post">
        <textarea name="review" required></textarea>
        <button type="submit">Analyze</button>
    </form>


    {% if result %}
    <h2>Result: {{ result }}</h2>
    {% endif %}
</body>
</html>